<div class="row">
  <div class="col-sm mt-3">    
    <select class="custom-select" [(ngModel)]="selectedProvince.id" (change)="onChange($event.target.value)">
      <option hidden selected>Provincia</option>
      <option *ngFor="let province of provinces" value="{{province.id}}">{{province.name}}</option>
    </select>
  </div>

  <div class="col-sm mt-3">
    <select class="custom-select">
      <option hidden selected>Ciudad</option>
      <option *ngFor="let city of cities" value="{{city?.id}}">{{city?.name}}</option>
    </select>
  </div>
</div>