<div class="container mt-5">
  <div class="form-group">
    <label for="provinces">Provincia</label>
    <select class="form-control" (change)="onChange($event.target.value)">
      <option *ngFor="let province of provinces" value="{{province.id}}">{{province.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="provinces">Ciudad</label>
    <select class="form-control">
      <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
    </select>
  </div>
</div>
